* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.container::before{
    content: "";
    background-image: url(../../public/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 70%;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    padding: 2%;
}


.link {
    font-size:smaller;
    text-decoration: underline;
    margin-top: 20px;
}


